@use "../abstracts" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  word-break: keep-all;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-synthesis: none;
  font-size: 62.5%;
}
body {
  font-family: var(--font-family-body);
  font-size: var(--fs-body-lg);
  line-height: 1.5;
  font-weight: 400;
  color: var(--clr-text-body);
}
ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  color: var(--clr-ui-black);
  text-decoration: none;
  display: block;
}
::selection {
  background-color: var(--clr-primary-500);
  color: #fff;
}

em,
address {
  font-style: normal;
}

button {
  background: none;
  border: none;
  font-size: fluid(14, 16);
  font-family: var(--family-body);
  cursor: pointer;
}

label {
  cursor: pointer;
}

textarea {
  resize: none;
}

input,
textarea,
select,
option {
  border: none;
  outline: none;
  font-size: fluid(14, 16);
  color: var(--clr-text-body);
}

.--tac {
  text-align: center;
}
.--tal {
  text-align: left;
}
.--tar {
  text-align: right;
}
