@use "../abstracts" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  word-break: keep-all;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  background: var(--clr-ui-white);
  color: var(--clr-ui-text);
  color-scheme: var(--clr-schema);
  line-height: 1.61;
  // @each $key, $value in $font-default {
  //   #{$key}: #{$value};
  // }
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

a {
  color: var(--clr-ui-black);
  text-decoration: none;
  display: block;
}

em,
address {
  font-style: normal;
}

button {
  background: none;
  border: none;
  font-size: fluid(14, 16);
  font-family: var(--family-en-body);
  cursor: pointer;
  line-height: var(--lh-base);
}

label {
  cursor: pointer;
}

textarea {
  resize: none;
}

input,
textarea,
select,
option {
  border: none;
  outline: none;
  font-size: fluid(14, 16);
}

input,
textarea,
select,
option {
  border: none;
  outline: none;
  font-size: fluid(14, 16);
}

.--tac {
  text-align: center;
}
.--tal {
  text-align: left;
}
.--tar {
  text-align: right;
}
