@use "../primitives" as *;

$theme-light: (
  text: (
    title: var(--clr-gray-900),
    body: var(--clr-gray-800),
    label: var(--clr-gray-600),
    desc: var(--clr-gray-500),
    strong: var(--clr-base-black),
    title-invert: var(--clr-base-white),
    body-invert: var(--clr-gray-200),
  ),
  border: (
    default: var(--clr-gray-300),
    strong: var(--clr-gray-800),
    week: var(--clr-gray-100),
  ),
  bg: (
    default: var(--clr-base-white),
    strong: var(--clr-gray-900),
    week: var(--clr-gray-50),
    middle: var(--clr-gray-200),
    card: var(--clr-gray-200),
  ),
  primary: (
    default: var(--clr-primary-500),
    hover: var(--clr-primary-600),
    focus: var(--clr-primary-700),
    disabled: var(--clr-primary-100),
    disabled-text: var(--clr-primary-400),
    text: var(--clr-base-white),
    border: var(--clr-primary-500),
  ),
  white: (
    default: var(--clr-base-white),
    hover: var(--clr-gray-100),
    focus: var(--clr-gray-100),
    disabled: var(--clr-gray-400),
    text: var(--clr-gray-900),
    border: var(--clr-base-white),
  ),
  gray: (
    default: var(--clr-gray-600),
    hover: var(--clr-gray-700),
    focus: var(--clr-gray-700),
    disabled: var(--clr-gray-500),
    text: var(--clr-base-white),
    border: var(--clr-gray-600),
  ),
  black: (
    default: var(--clr-base-black),
    hover: var(--clr-gray-900),
    focus: var(--clr-gray-900),
    disabled: var(--clr-gray-500),
    text: var(--clr-base-white),
    border: var(--clr-base-black),
  ),
);
