@use "../abstracts" as *;

.no-code {
    &-block {
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }
    &-header {
        background: #f9f9f9;
        height: fluid(48,80);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2.4rem;
    }
    
    &-buttons {
        ul {
            display: flex;
            align-items: center;
            gap: fluid(4,8);
        }
        button {
            width: fluid(32,48);
            height: fluid(32,48);
            font-size: fluid(12,14);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
        }
    }

    &-body {
        height: fluid(240,480);
        overflow: auto;
        &-item {
            display: none;
        }
    }
}