@use '../abstracts' as *;

// 페이지네이션 버튼
.no-pagi-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: fluid(12, 24);
  .arrow_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: fluid(8, 16);
  }
  &__list {
    display: flex;
    align-items: center;
    gap: fluid(6, 8);
    text-align: center;
    & li {
      & a {
        width: 3.2rem;
        height: 3.2rem;
        padding: 0.65rem 1.2rem;
        display: flex;
        border-radius: 0.6rem;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--clr-base-black);
        font-size: fluid(14, 16);
        &.active {
          width: 100%;
          background-color: var(--clr-primary-500);
          color: var(--clr-base-white);
          border: 1px solid transparent;
        }
        &:hover {
          border: 1px solid transparent;
          background-color: var(--clr-gray-300);
          color: var(--clr-primary-500);
        }
        &.active:hover {
          width: 100%;
          background-color: var(--clr-primary-500);
          color: var(--clr-base-white);
          border: 1px solid transparent;
        }
      }
    }
  }
}
